
body {
  padding-top: 0px;
}

.container-fluid {
  padding: 0;
}

.sidebar-fixed-top {
  position: fixed;
  z-index: 1030;
  margin-bottom: 0;
}

#app {
  position: absolute;
  overflow: hidden;
  height: 100%;
}

#app-settings {
  padding: 20px;
}
