
body {
  padding-top: 0px;
}

.container-fluid {
  padding: 0;
}

.sidebar-fixed-top {
  position: fixed;
  z-index: 1030;
  margin-bottom: 0;
}

#app {
  position: absolute;
  overflow: hidden;
  height: 100%;

  #endless_list {
    overflow-y: auto;
    height: 100%;
    margin-left: 0;
    border-right: 2px solid #ccc;

    #error_list {
      margin-top: 13%;
    }
  }
}
