
body {
  padding-top: 0px;
}

.container-fluid {
  padding: 0;
}

#app {
  position: absolute;
  overflow: hidden;
  height: 100%;

  #endless_list {
    overflow-y: auto;
    height: 100%;
    margin-left: 0;
    border-right: 2px solid #ccc;
  }
}
