#errors {

  .error-preview {
    padding: 10px;
    cursor: pointer;

    &:nth-child(2n) {
      background: #eaeef3;
    }

    &.clickable:hover {
      header h1 {
        background-color: yellow;
      }
    }

    &.selected {
      background: $yellowLighter;
      @include box-shadow(1px 5px 6px rgba(black, 0.4) inset);
    }

    header {
      padding-bottom: 10px;
      margin-bottom: 10px;

      .title {
        @include clearfix;
        padding: 5px 0;

        h1 {
          margin: 0;
          font-size: 15px;
          width: 85%;
          float: left;
          line-height: 1em;
        }

        .badge {
          float: right;
        }
      }

      .summary {
        font-size: 11px;
        color: #888;
      }

    } /* header */
  }
}
