#errors {

  .error-preview {
    padding: 10px;
    border-bottom: 1px dashed #ccc;
    cursor: pointer;

    &:nth-child(2n) {
      background: #eaeef3;
    }

    &.clickable:hover {
      header h1 {
        background-color: yellow;
      }
    }

    &.selected {
      background: $yellowLighter;
      @include box-shadow(1px 5px 6px rgba(black, 0.4) inset);
    }

    ul {
      li {
        padding-bottom: 5px;
        &:last-child {
          padding-bottom: 0;
        }
      }
    }

    header {
      @include clearfix;
      border-bottom: 1px solid $grayLighter;
      padding-bottom: 10px;
      margin-bottom: 10px;

      h1 {
        font-size: 15px;
        width: 85%;
        float: left;
        line-height: 1.2;
      }

      .badge {
        float: right;
      }

    } /* header */
  }
}
