#error {
  background: white;

  margin-left: 0;
  height: 100%;
  padding: 10px 30px;

  .detail {

    #backtrace {
      .content, .rest {
        a {
          color: #444;
          text-decoration: none;
        }
      }

      h4 {
        span {
          font-size: 12px;
          font-weight: normal;
          a {
            padding: 0 2px;
            text-decoration: underline;
          }
        }
      }

      pre {
        margin: 10px 0;
        padding: 15px;
        border: 1px solid #666;
        @include border-radius(5px);

        code {
          margin: 0;
          padding: 0;

          .mark {
            background: #fffca5;
          }
        }
      }
    }

    #context {
      padding-top: 10px;
    }

  }

  .managment {
    padding-bottom: 8px;
    margin-bottom: 15px;
    border-bottom: 1px solid $grayLighter;

    i {
      float: left;
    }

    header {
      @include clearfix;
      .badge {
        font-size: 18px;
      }

      h3 {
        line-height: 1em;
        margin: 0;
      }

      .brief {
        float: left;
        width: 74%;

        p {
          margin-top: 15px;
        }
      }

      .refs {
        float: right;
        width: 25%;
        text-align: right;
        em {
          color: #888;
          font-size: 11px;
        }
      }
    }

    div {
      margin: 10px 0;
      @include clearfix;
    }

    .tag_list {
    }

    .deadline {
      input[type="text"] {
        border: 2px solid $black;
        margin-left: 10px;
        float: left;
        width: 130px;
        color: $black;
        font-weight: bold;
      }
      .calendar {
        margin-left: 3px;
      }
    }

  }

  .menu {
    margin-top: 0px;

    a {
      margin-left: 20px;
      text-decoration: none;

      &:first-child {
        margin-left: 0;
      }
    }

    .right-icon {
      float: right;
      margin-left: 5px;
    }
  }
}

