$icons-48-black: sprite-map("icons-48/black/*.png");
$icons-32-black: sprite-map("icons-32/black/*.png");
$icons-24-black: sprite-map("icons-24/black/*.png");
$icons-16-black: sprite-map("icons-16/black/*.png");

$icons-48-white: sprite-map("icons-48/white/*.png");
$icons-32-white: sprite-map("icons-32/white/*.png");
$icons-24-white: sprite-map("icons-24/white/*.png");
$icons-16-white: sprite-map("icons-16/white/*.png");

.disabled {
  @include opacity(0.2);
  cursor: cell !important;
  &:hover {
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    transform: none !important;
  }
}

.icon-16, .icon-24, .icon-32, .icon-48 {
  &.selected {
  }
}

.clickable {
  cursor: pointer;
}

.icon-16 {
  width: 16px;
  height: 16px;

  &.not_connected {
    background: sprite($icons-16-black, not_connected_icon_16);
  }

  &.checked {
    background: sprite($icons-16-black, checkbox_checked_icon_16);
  }

  &.tag {
    background: sprite($icons-16-black, tag_icon_16);
  }

  &.user {
    background: sprite($icons-16-black, user_icon_16);
  }

  &.clock {
    background: sprite($icons-16-black, clock_icon_16);
  }
}

.icon-32 {
  width: 32px;
  height: 32px;

  &.trash {
    background: sprite($icons-32-black, trash_icon_32);
  }

  &.tag {
    background: sprite($icons-32-black, tag_icon_32);
  }

  &.contact_card {
    background: sprite($icons-32-black, contact_card_icon_32);
  }

  &.next {
    background: sprite($icons-32-black, br_next_icon_32);
  }

  &.prev {
    background: sprite($icons-32-black, br_prev_icon_32);
  }

  &.twitter {
    background: sprite($icons-32-black, twitter_icon_32);
  }

  &.facebook {
    background: sprite($icons-32-black, facebook_icon_32);
  }

  &.mail {
    background: sprite($icons-32-black, mail_2_icon_32);
  }
}

.icon-24 {
  width: 24px;
  height: 24px;

  &.tag {
    background: sprite($icons-24-black, tag_icon_24);
  }

  &.user {
    background: sprite($icons-24-black, user_icon_24);
  }

  &.clock {
    background: sprite($icons-24-black, clock_icon_24);
  }

  &.calendar {
    background: sprite($icons-24-black, calendar_2_icon_24);
  }
}

.icon-48 {
  width: 48px;
  height: 48px;

  &.home {
    background: sprite($icons-48-white, home_icon_48);
  }

  &.delete_server {
    background: sprite($icons-48-white, delete_server_icon_48);
  }

  &.users {
    background: sprite($icons-48-white, users_icon_48);
  }

  &.zoom {
    background: sprite($icons-48-white, zoom_icon_48);
  }

  &.cog {
    background: sprite($icons-48-white, cog_icon_48);
  }

  &.app_cross {
    background: sprite($icons-48-white, app_window_cross_icon_48);
  }

  &.trash {
    background: sprite($icons-48-white, trash_icon_48);
  }

  &.tag {
    background: sprite($icons-48-white, tag_icon_48);
  }

  &.contact_card {
    background: sprite($icons-48-white, contact_card_icon_48);
  }

  &.next {
    background: sprite($icons-48-white, br_next_icon_48);
  }

  &.prev {
    background: sprite($icons-48-white, br_prev_icon_48);
  }

}
