.hide {
  display: none;
}

ul.tags {
  list-style-type: none;
  float: left;
  margin-left: 10px;
  width: 92%;

  li {
    float: left;
    padding: 2px 15px;
    margin-right: 1px;
    font-weight: bold;
    border: 2px solid $black;
    @include box-shadow($gray 1px 1px 4px);
  }
}

#icons-bar {
  text-align: center;
  background: #505a5c;
  height: 100%;

  hr {
    margin: 0 0 20px 0;
    border: none;
  }

  a {
    text-decoration: none;
    margin-bottom: 20px;
  }
}
